{
	"settings": {
		"react": {
			"version": "18.2"
		}
	},
	"env": {
		"browser": true,
		"es6": true
	},
	"extends": [
		"react-app",
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/jsx-runtime"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"plugins": ["react", "@typescript-eslint"],
	"rules": {
		"no-param-reassign": 0,
		"no-mixed-spaces-and-tabs": 0,
		"react-hooks/exhaustive-deps": 0,
		"react/react-in-jsx-scope": 0,
		"no-empty-function": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-non-null-assertion": "off"
	}
}
