@import "normalize.css";

@font-face {
	font-family: 'Catamaran';
	src: url('../shared/assets/fonts/Catamaran/Catamaran-Regular.ttf');
	src: local('Catamaran Regular'), local('Catamaran-Regular'),
	url('../shared/assets/fonts/Catamaran/Catamaran-Regular.ttf')
	format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Catamaran';
	src: url('../shared/assets/fonts/Catamaran/Catamaran-Bold.ttf');
	src: local('Catamaran Bold'), local('Catamaran-Bold'),
	url('../shared/assets/fonts/Catamaran/Catamaran-Bold.ttf')
	format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Catamaran', sans-serif;
	font-weight: 400;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F3F5F7;
}

a {
	font-weight: 700;
	text-decoration: none;
}

